div.top {
	margin-top: 5px;
	float: left;
	width: 100%;
	overflow: hidden;
	position: fixed;
}

div.bottom {
	margin-top: 50px;
	float: left;
	overflow: auto;
	width: 100%;
	height: 95%;
}

table {
	border-collapse: collapse;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	table-layout: auto;
}

th.data, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) { background-color: #dbdbdb; }

td#qty { text-align: right; }

th#filter_name { text-align: center; }

th#filter_part { text-align: center; }

/* Hide scroll bar */
/*
::-webkit-scrollbar { 
    display: none; 
}
*/